.attenderBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  padding: 0 0 50px 0;
}

@media (max-width: 699px) {
  .attenderBox {
    width: 98%;
  }
}

.buttonMain {
  background-color: rgb(112, 168, 201);
  color: white;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 16px 2px 0px 2px;
  cursor: pointer;
  border: none;
  /* border-radius: 25px; */
}

.buttonMain:focus {
  outline: none;
}

.buttonMain:active {
  box-shadow: 0 10px #666;
  transform: translateY(6px);
}