.Modal {
   position: fixed;
   z-index: 500;
   background-color: none;
   width: 95%;
   left: 2.5%;
   top: 10px;
   box-sizing: border-box;
   transition: all 0.3s ease-out;
   display: flex;
   flex-direction: column;
}

@media (min-width: 400px) {
   .Modal {
      width: 80%;
      left: 10%;
      top: 20%;
   }
}
