.wrapper {
   display: flex;
   margin: 10px 0;
}

.lineCalendar {
   display: flex;
}

.nameWrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.membership {
   font-size: 10px;
   background-color: white;
   color: black;
   border: 0.5px solid black;
   width: 30px;
}

.BBP {
   background-color: black;
   font-weight: bold;
   color: white;
   border: 0.5px solid white;
   width: 30px;
}

.MP {
   background-color: red;
   font-weight: bold;
   color: white;
   border: 0.5px solid white;
   width: 30px;
}

.oneMO {
   background-color: cyan;
   font-weight: bold;
   color: black;
   border: 0.5px solid white;
   width: 30px;
}

.TRIAL {
   background-color: white;
   font-weight: bold;
   color: black;
   border: 0.5px solid grey;
   width: 30px;
}

.name {
   font-size: 20px;
   font-weight: bold;
}

.status {
   font-size: 10px;
}
.day {
   display: flex;
   flex-direction: column;
   width: 22px;
   height: 22px;
   background-color: rgb(216, 216, 216);
   box-sizing: border-box;
   border: 1px solid white;
}

.edgeDays {
   background-color: rgb(241, 241, 241);
}

.sunday {
   background-color: white;
}

.sunday .dayUp {
   color: red;
}

.dayUp {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   height: 40%;
   color: black;
   font-weight: bold;
   font-style: italic;
   font-size: 9px;
}

.dayDown {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 60%;
   color: red;
   font-size: 12px;
}

.noDisplay {
   visibility: hidden;
}

.one {
   background-color: rgb(255, 255, 96);
}

.two {
   background-color: yellowgreen;
}

.three {
   background-color: green;
}

.today {
   border: 2px dotted red;
}

.test {
   border: 2px solid blue;
}

.start {
   border: 2px solid red;
}

.stat {
   display: flex;
}

.board,
.total,
.spar {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 22px;
   height: 22px;
   background-color: rgb(230, 230, 230);
   box-sizing: border-box;
   border: 1px solid white;
   font-size: 12px;
   font-weight: bold;
}

.monthText {
   display: flex;
   justify-content: center;
   width: 30px;
   height: 22px;
   margin: 0 5px 0 0;
   font-size: 13px;
}

@media (max-width: 1024px) {
   .wrapper {
      display: flex;
      margin: 10px 0;
   }

   .lineCalendar {
      display: flex;
   }

   .day {
      display: flex;
      flex-direction: column;
      width: 19px;
      height: 19px;
      background-color: rgb(230, 230, 230);
      box-sizing: border-box;
      border: 1px solid white;
   }

   .sunday {
      background-color: white;
   }

   .sunday .dayUp {
      color: red;
   }

   .dayUp {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 40%;
      color: rgb(172, 170, 170);
      font-weight: bold;
      font-style: italic;
      font-size: 8px;
   }

   .dayDown {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60%;
      color: red;
      font-size: 10px;
   }

   .noDisplay {
      visibility: hidden;
   }

   .one {
      background-color: rgb(255, 255, 96);
   }

   .two {
      background-color: yellowgreen;
   }

   .three {
      background-color: green;
   }

   .today {
      border: 2px dotted red;
   }

   .test {
      border: 2px solid blue;
   }

   .start {
      border: 2px solid red;
   }

   .stat {
      display: flex;
   }

   .board,
   .total,
   .spar {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 19px;
      height: 19px;
      background-color: rgb(230, 230, 230);
      box-sizing: border-box;
      border: 1px solid white;
      font-size: 10px;
      font-weight: bold;
   }

   .monthText {
      display: flex;
      justify-content: center;
      width: 30px;
      height: 19px;
      margin: 0 5px 0 0;
      font-size: 13px;
   }
}
