.cellBase {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 120px;
   /* background-color: rgb(141, 140, 140); */
   text-align: center;
   margin: 1px 2px;
   font-size: 12px;
   height: 50px;
   border: 1px solid rgb(190, 190, 190);
}

.dataCell {
   color: black;
}

.headerCell {
   font-size: 20px;
   height: 40px;
   font-weight: bold;
   background-color: rgb(168, 168, 168);
   color: white;
}

.dataCell .title {
   font-size: 14px;
}

.cellBase .number {
   font-size: 20px;
   font-weight: bold;
}

.titleCell {
   font-size: 17px;
   margin: 0 10px;
   background-color: rgb(168, 168, 168);
   color: white;
}

.activityTitleCell {
   height: 30px;
   font-size: 17px;
   margin: 0 10px;
   background-color: rgb(168, 168, 168);
   color: white;
}

.activityCell {
   height: 30px;
}

.activityCell .number {
   font-size: 15px;
   font-weight: normal;
}

.emptyCorner {
   border: none;
   margin: 0 10px;
}

.totalHeader {
   font-size: 17px;
   margin: 10px 10px;
   background-color: rgb(168, 168, 168);
   color: white;
   font-weight: normal;
}

.totalCell {
   font-size: 20px;
   margin: 10px 2px;
   background-color: rgb(168, 168, 168);
   color: white;
   font-weight: normal;
}

@media (max-width: 399px) {
   .cellBase {
      margin: 0;
      font-size: 6px;
      height: 40px;
   }

   .emptyCorner {
      height: 20px;
   }

   .dataCell .title {
      font-size: 8px;
   }

   .cellBase .number {
      font-size: 10px;
   }

   .titleCell {
      font-size: 8px;
   }

   .activityTitleCell {
      font-size: 8px;
      height: 15px;
   }

   .activityCell {
      height: 15px;
   }

   .headerCell {
      font-size: 10px;
      height: 20px;
   }

   .totalHeader {
      font-size: 10px;
      height: 20px;
   }

   .totalCell {
      font-size: 10px;
      height: 20px;
   }
}
