.btn {
   height: 20px;
   background-color: rgb(192, 192, 221);
   font-size: 14px;
}

.checkedIn {
   background-color: rgb(118, 118, 194);
   font-size: 14px;
   box-shadow: 0 10px #666;
   transform: translateY(6px);
}

.confirm {
   height: 30px;
   width: 50px;
   background-color: pink;
   font-size: 20px;
   border-radius: 15px;
}

.confirm:focus, .btn:focus {
   outline: none;
}

@media (min-width: 400px) {
   .btn {
      height: 20px;
      background-color: rgb(192, 192, 221);
      font-size: 14px;
   }

   .checkedIn {
      background-color: rgb(118, 118, 194);
      font-size: 14px;
   }

   .confirm {
      height: 30px;
      width: 50px;
      background-color: pink;
      font-size: 20px;
      border-radius: 15px;
   }
}
